{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/Heart.jpg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <title>Detector</title>
</head>
<body style=" background-color: bisque">
  <header class="container center-align">
    <h1>Heart Disease Detector</h1>
      <img src="{% static 'detector/Ischemic Heart Disease.jpg' %}" height="350">
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html